
/EMRKS/.vs
/EMRKS/.vs
/EMRKS/.vs/EMRKS
/EMRKS/EMRKS/obj/Debug/net8.0-windows
/EMRKS/EMRKS/obj/Debug
EMRKS/EMRKS/obj/Debug/net8.0-windows/EMRKS.AssemblyInfo.cs
EMRKS/EMRKS/obj/Debug/net8.0-windows/EMRKS.AssemblyInfoInputs.cache
EMRKS/EMRKS/obj/Debug/net8.0-windows/EMRKS.assets.cache
EMRKS/EMRKS/obj/Debug/net8.0-windows/EMRKS.GeneratedMSBuildEditorConfig.editorconfig
